footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: left;
    padding: 17px 15px;
    right: 0;
    border-top: 1px solid #e9ecef;
   
 }