table {
  width: 80%;
}

.mat-form-field {
  width: 80%;
}
.content-filter {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.content-table{
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  margin-bottom: 7%;
}

